{% extends "layout.html" %}

{% set aktiva_lapa="chats" %}

{% block izvelne %}
    <body onload="lasiChatu();" class="body">
        <h1>Mans chat</h1>
        <hr />
        <div class="box">
            <div id="chats">
            </div>

        <hr />
        </div>
            <div>
                <input id="zinja" placeholder="Type your message here" type="text">
                <button onClick="suutiZinju();" type="button">Send</button>
            </div>
        </div>
        <script src="{{ url_for('static', filename='chats.js') }}"></script>
    </body>
        
    </html>
{% endblock %}






