{% extends "layout.html" %}

{% set aktiva_lapa="chats" %}

{% block izvelne %}
    <body onload="lasiChatu();" class="body">
        
        <div class="container">
            <div class="row">


                <div class="col-md-2 col-sm-6 col-1" style="background-color:#ffccff">


                    <h1>Mans chat</h1>
                    <hr />
                    <div class="box">
                        <div id="chats">
                        </div>
                    <hr />
                        <div class="input">
                            <input class="ievade"id="zinja" placeholder="Ieraksti ziņu: " type="text">
                            <button class="btn btn-success myBtn" role="button" onClick="suutiZinju();" type="submit">Send</button>
                        </div>
                        <div class="peoplebox">
                            <div class="col-md-2 col-sm-6 col-1" style="background-color:red">
                                <p>Cilveks 1</p>
                                <p>Cilveks 2</p>
                                <p>Cilveks 3</p>
                                <p>Cilveks 4</p>
                                <p>Cilveks 5</p>
                            </div>
                        </div>
                    </div>
                    <script src="{{ url_for('static', filename='chats.js') }}"></script>
                </div>
            </div>
        </div>
    </body>
        
    </html>
{% endblock %}






